/* ---------------------------------------------------------------------------------------------- */
/*  Colors */
/* ---------------------------------------------------------------------------------------------- */
/* Colors */
$color-primary: #0CC;

/* ---------------------------------------------------------------------------------------------- */
/* Typography */
/* ---------------------------------------------------------------------------------------------- */
/* Text Style */
$text-font: Inter, Montserrat, sans-serif;
$text-color-base: hsl(0, 0%, 0%);
$text-color-muted: hsl(0, 0%, 0%);

