@import 'src/styles/_variables.scss';

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > header{
  /* Box Model */
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	width: 100%;

	/* Text Style */
	font-family: Raleway;
	font-weight: 600;

  /* Smartphones (portrait) */
  @media only screen and (max-width: 816px) { // 480px
		height: 5.1875rem;
		padding: 0rem 1.75rem;

		> img{
			height: 1.6235rem;
		}
		> nav{
			display: flex;
			gap: 0.75rem;
			justify-content: space-between;
			align-items: center;
		}
	}

  /* desktop */
  @media only screen and (min-width: 816px) { // 480px
		height: 7.8125rem;
		padding: 0rem 6rem;

		> img{
			height: 3.0625rem;
		}
		> nav{
			display: flex;
			gap: 2rem;
			justify-content: space-between;
			align-items: center;
		}
  }

  a{
  	text-decoration: none;
  	color: #000;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > section.hero{
  /* Layout Model */
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-content: center;
	justify-items: center;

  /* Smartphones and tablet */
  @media only screen and (max-width: 816px) { // 912
		padding: 3rem 1rem;
    grid-template-columns:
    	minmax(10rem, 30rem);

    grid-template-areas:
      "illustration"
      "description"
      "formulary";
  }

  // Smartphones (landscape) / Desktop
  @media only screen and (min-width: 816px) { // 480px
		padding: 6rem;
    grid-template-columns: clamp(25rem, 60%, 40rem) clamp(25rem, 40%, 40rem);
    grid-template-areas:
	    "description illustration"
	    "formulary illustration";
	 }

  img{
    grid-area: illustration;
  }
}

main > section.hero > .description{
	/* Positioning */
  grid-area: description;
  align-self: end;

	/* Layout Model */
	display: flex;
	flex-direction: column;
	padding: 0rem 0.5rem;
	gap: 1rem;
	text-align: center;

  /* Childrens */
  > h1{
  	font-size: 2rem;
  }
  > p{
		font-size: 1.1875rem;
  }
}

main > section.hero > form{
	/* Positioning */
  grid-area: formulary;
  align-self: start;

  /* Layout Model*/
	width: 80%;
	display: grid;
	justify-content: center;
	grid-auto-rows: 3rem;
	gap: 1rem;

  /* Smartphones (portrait) */
	@media only screen and (max-width: 816px) { // 480px
		grid-auto-columns: 1fr;
  }

  // Smartphones (landscape) / Desktop
  @media only screen and (min-width: 816px) { // 480px
		grid-template-columns: 60% 40%;
	}

	> input{
		border-radius: 0.25rem;
		font-size: 1rem;
		text-align: center;

		&[type=email]{
			border: 1px solid #AFAFAF;
		}

		&[type=submit]{
			background: #537FF9;
			color: #FFF;
			font-family: Raleway;
			font-weight: bold;

			&:hover{
				background: darken($color: #537FF9, $amount: 10);
				cursor: pointer;
			}
		}
	}
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > section.introduction{
  /* Layout Model */
  display: grid;
	background: #F8F8FE;
	gap: 2rem;
  justify-content: center;

  /* Smartphones */
  @media only screen and (max-width: 816px) { // 480px
		padding: 2rem 0.5rem;
		text-align: center;
  	place-items: center;
    grid-template-columns:
    	minmax(10rem, 30rem);

    grid-template-areas:
      "illustration"
      "description"
      "link"
      "quote";
  }

  /* Desktop */
	@media only screen and (min-width: 816px) {
	  padding: 6rem;
    grid-template-columns: clamp(25rem, 60%, 40rem) clamp(25rem, 40%, 40rem);
	  grid-template-areas:
		  "description illustration"
		  "link illustration"
		  "quote illustration";
	}

  img{
    grid-area: illustration;
  }
}

main > section.introduction > .description{
	/* Positioning */
  grid-area: description;
	display: flex;
	flex-direction: column;
	gap: 1rem;

  /* Childrens */
  > h1{
  	font-size: 2rem;
  }
  > p{
		font-size: 1.1875rem;
  }
}

main > section.introduction > .link{
	/* Positioning */
  grid-area: link;
	display: flex;
	align-items: center;
	padding: 0rem 0.5rem;
	gap: 0.5rem;

	> a{
		color: #40BF45;
		font-size: 1.1875rem;
		font-family: Open Sans;
		line-height: 2.5rem; /* 250% */
		border-bottom: 1px solid #40BF45;
	}

	> img{
		width: 1.8rem;
		height: 1.8rem;
	}
}

main > section.introduction > .quote-box{
	/* Positioning */
  grid-area: quote;

	/* Box Model */
	width: 19.3125rem;
	padding: 1.25rem;
	border-radius: 0.5rem;
	background: #FFF;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);

	/* Layout Model */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;

	> p{
		font-family: Raleway;
		font-size: 0.875rem;
		line-height: 1.5rem;
	}

	> div.presentation{
		display: flex;
		align-items: center;
		gap: 0.75rem;

		> img{
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 6.25rem;
		}
		> div{
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			> span.name{
				font-family: Raleway;
				font-size: 0.75rem;
				font-weight: 700;
			}
			> span.description{
				font-family: Raleway;
				font-size: 0.625rem;
				font-weight: 500;
			}
		}
	}
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > section.contact{
  /* Layout Model */
  display: grid;
  place-content: center;
  place-items: center;

	/* Box Model*/
	background: #5E5C8A;
	color: #FFF;

  /* Smartphones and tablet */
  @media only screen and (max-width: 816px) { // 912
		padding: 3rem 1rem;
  	gap: 2rem;
    grid-template-areas:
      "description"
      "formulary";
  }

  // Smartphones (landscape) / Desktop
  @media only screen and (min-width: 816px) { // 480px
		padding: 6rem;
		gap: 10.875rem;
    grid-template-columns: clamp(25rem, 40%, 40rem) clamp(25rem, 40%, 40rem);
    grid-template-areas:
	    "description formulary";
	 }

  img{
    grid-area: illustration;
  }
}

main > section.contact > .description{
	/* Positioning */
  grid-area: description;

	/* Layout Model */
	display: flex;
	flex-direction: column;
	padding: 0rem 0.5rem;
	gap: 2rem;

  /* Smartphones */
  @media only screen and (max-width: 816px) { // 480px
		text-align: center;
  }

  /* Desktop */
	@media only screen and (min-width: 816px) {
		text-align: start;
	}

  /* Childrens */
  > h1{
  	font-size: 1.8rem;
  }
  > p{
		font-size: 1.1rem;
  }
}

main > section.contact > form{
	/* Positioning */
  grid-area: formulary;

  /* Layout Model*/
	width: 80%;
	display: grid;
	justify-content: center;
	grid-auto-rows: 3rem;
	grid-auto-columns: 1fr;
	gap: 1rem;

	> input{
		border-radius: 0.25rem;
		font-size: 1rem;
		text-align: center;

		&[type=email]{
			border: 1px solid #AFAFAF;
			background: #FFF;
		}

		&[type=submit]{
			background: #537FF9;
			color: #FFF;
			font-family: Raleway;
			font-weight: bold;

			&:hover{
				background: darken($color: #537FF9, $amount: 10);
				cursor: pointer;
			}
		}
	}
}